<!-- load Howler -->
<script src="{{ '/assets/lib/howler/howler.min.js' | relative_url }}"></script>

<script>

var test = document.getElementById("sound");
/* define sound files */
var sounds = { 
    "a":"a-sound.mp3",
    //"b":"",
    "c":"c-sound.mp3",
    "d":"d-sound.mp3",
    "e":"e-sound.mp3",
    "f":"f-sound.mp3",
    "g":"g-sound.mp3",
    "h":"h-sound.mp3",
    "i":"i-sound.mp3",
    "j":"j-sound.mp3",
    "k":"k-sound.mp3",
    "l":"l-sound.mp3",
    "m":"m-sound.mp3",
    "n":"n-sound.mp3",
    "o":"o-sound.mp3",
    "p":"p-sound.mp3",
    //"q": "",
    "r":"r-sound.mp3",
    "s":"s-sound.mp3",
    "t":"t-sound.mp3",
    "u":"u-sound.mp3",
    "v":"v-sound.mp3",
    "w":"w-sound.mp3",
    //"x":"",
    "y":"y-sound.mp3",
    "z":"z-sound.mp3"
};
var letterSound;

/* play sounds live while typing */ 
$("#poemArea").keypress(function(e) {
    if (e.which !== 0 && $("#playLive").is(':checked')) {
        var inputKey = String.fromCharCode(e.which);
        if (sounds[inputKey]) {
            test.innerHTML = "sound was: /objects/" + sounds[inputKey];
            
            letterSound = new Howl({
                src: ["{{ '/objects/' | relative_url }}" + sounds[inputKey]]
            });
            letterSound.play();
        }
    } 
});

/* play full text */ 

function playFullText(files) {
    letterSound = new Howl({
        src: [files[0]],
        onend: function() {
            files.shift();
            if (files.length > 0) {
                playFullText(files);
            }
        }
    });      
    letterSound.play();
}
$( "#playPoem" ).click(function() {
    var poemText = document.getElementById("poemArea").value;
    var poemLetterSounds = [];
    for (let i = 0; i < poemText.length; i++) {
        if (sounds[poemText[i]]) {
            poemLetterSounds.push("{{ '/objects/' | relative_url }}" + sounds[poemText[i]]);
        }
    }
    if (letterSound) { letterSound.stop(); }
    playFullText(poemLetterSounds);
});

</script>