<div class="container-fluid mt-4 mb-n3 bg-light p-4 " id="technical">
    <div class="container my-4 text-center">
        <h3>Project Supported by</h3>
        <div class="row justify-content-center my-4">
            <div class="col-6 col-md-3">
                <a href="https://www.lib.uidaho.edu/">
                    <img class="img-fluid" src="https://www.lib.uidaho.edu/media/images/ui_library_horizontal.png" alt="I logo for University of Idaho Library">
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="https://cdil.lib.uidaho.edu/">
                    <img class="img-fluid" src="https://www.lib.uidaho.edu/media/cdil/cdil-logo-black.png" alt="Center for Digital Inquiry and Learning">
                </a>
            </div>
        </div>
    </div>
</div>
