/* poem styles */ 
.poem-block {
    max-width: 1000px;
    display: block;
    margin: 0 auto 10rem;
}
.poem-stanza {
    padding-bottom: 28px;
}
.poem-line{  
    text-indent: -32px;
    margin: 0 0 0 32px;
    line-height:28px;
}
.poem-indentedline{  
    text-indent: -32px;
    margin: 0 0 0 32px;
    line-height:28px;
    padding-left:4em;
}

/* audio player */
#waveControls {
    .btn-link {
        color: #31137C;
    }
}
/* annotations */
.annotation { cursor: pointer; }
.annotation-underline { border-bottom: solid 1px #31137C; };
.annotation.active { 
    color: #7C135E; 
    border-bottom: solid 1px #7C135E;
}
.text-underline { text-decoration: underline; }
.track.annotation.active {
    color: white;
    background-color: #31137C;
}
/* footer */ 
.footer-nav .nav-link.active { 
    border: solid 1px #7C135E;
    border-radius: .25em;
}
#scroll-to-top { color: $link-color; }
